services:
  backend:
    build: ./backend
    container_name: weather-backend
    restart: unless-stopped
    networks:
      - weather-network

  frontend:
    build: ./frontend
    container_name: weather-frontend
    ports:
      - "8085:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - weather-network

  prometheus:
    image: prom/prometheus:latest
    container_name: weather-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    restart: unless-stopped
    networks:
      - weather-network

  grafana:
    image: grafana/grafana:latest
    container_name: weather-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus
    restart: unless-stopped
    networks:
      - weather-network

networks:
  weather-network:
    driver: bridge

volumes:
  prometheus-data:
  grafana-data: